.App {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html{
  height: auto;
  position:relative;
}

.body{
  position:relative;
  /* Rectangle 1 */


  /* Auto Layout */

  display: flex;
  flex-direction: column;

  padding: 0px;
  top: 20px;
  width: 100%;
  height: 100%;


  background: #C4C4C4;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;

  overflow: hidden;
}


/* Navigation Bar */

.nav{
  position: fixed;

  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 60px;
  left: 0%;
  right: 0%;
  top: 0%;
  z-index: 10;
  /* White */

  background: #FFFFFF;
  /* Nav/Top Nav */

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}

.nav-wrap{
  position:relative;
  display: flex;
  height: 100%;
  align-items: center;
  width:100%;
}

.main_link{

  position: relative;
  height: 100%;
  width: 200px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 32px;
  padding-left: 70px;
  padding-right: 200px;
}

.main_link > a{
  /* Company Name */
  position: absolute;
  width: 99px;



  /* Body/Heavy */

  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */


  /* Primary */

  color: #000000;
  text-decoration: none;
  /* Inside Auto Layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0 16px;
}

.nav_options{
  position:relative;
  display: flex;
  height: 100%;
  align-items: center;
  width:100%;
  margin-left: 100px;
}

.nav_options_item{
  margin-left: 50px;
  margin-right: 10px;
}

.nav_options a{
  text-decoration: none;
  color: #767676;
}

.nav_options a.nav_selected {
  color: #000000;
  text-decoration: underline;
}

.nav_profile{
  margin-right: 102px;
}

.nav_profile a{
  text-decoration: none;
  color: #767676;
}

.body .body_main{
  /* Frame 15 */


  /* Auto Layout */
  position: relative;
  display: flex;
  flex-direction: column;

  padding: 43px 115px;
  width: auto;
  height: 88%;
  top: 4%;
  bottom: 0%;

  /* White */

  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  /* Elevation/Shadow 1 */

  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.16);
  border-radius: 16px;

  /* Inside Auto Layout */
  margin: 23px 102px;
}

.body_main .body_main_icons{
  /* Frame 15 */


  /* Auto Layout */
  position: relative;
  display: flex;
  flex-direction: row;

  bottom: 0%;

  /* Inside Auto Layout */

  justify-content: space-between;
  margin: 0px 50px 0px 50px;
  padding-right: 120px;
  padding-left: 120px;
}

.body_main .widget_alert{
  margin-top: 20px;
}

.device_name{
  margin-bottom: 20px;
}

.body_main .body_main_icons_title{
  /* _Frame Heading */


  /* Auto Layout */
  /* Frame Heading */



  /* Heading/H1 */

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height, or 150% */
  border-radius: 20px;

  /* Primary */



  /* Inside Auto Layout */


  /* Neutral/50 */

  background: white;
  border: #2c3744;
  color: #2c3744;
  margin-bottom: 20px;
}

.body_main .circle{
  position: relative;
  height: 250px;
  width: 250px;
  background-color: #2c3744;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}



.body_main_control{
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: available;
}

.body_main_control > div{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.body_main_control_log{
  font-family: monospace;
}

div.body_main_control_title{
  margin-bottom: 20px;
  font-size: 30px;
  font-family: "Open Sans";
}

.body_main_control .body_main_control_box{
  position: relative;
  /* Frame 17 */
  /* White */
  background: #FFFFFF;
  /* Elevation/Shadow 3 */
  border: #c4c4c4 1px solid;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.16);
  border-radius: 16px;
  padding: 20px;
  /* Inside Auto Layout */
  overflow: scroll;
  height: 200px;
  text-align: justify;
  margin-left: 2%;
  margin-right: 2%;
}

button{
  /* Primary */
  color: white;
  background: #000000;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  margin-right: 24px;
}

.material-icons.main_widget{
  position: relative;
  font-size: 150px;
  color: whitesmoke;
}

footer .temp{
  position: absolute;
  height: 200px;
  margin-top: 200px;
}